/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/zmk/matrix-transform.h>

/ {
	model = "aarupad";
	compatible = "aarupad";

	chosen {
		zephyr,code-partition = &code_partition;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zmk,kscan = &kscan0;
		zmk,underglow = &led_strip;
	};
 
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
		diode-direction = "col2row";
		row-gpios
			= <&gpio1 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 13  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 12  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
		col-gpios
			= <&gpio1 7  GPIO_ACTIVE_HIGH>
			, <&gpio1 15  GPIO_ACTIVE_HIGH>
			, <&gpio1 10 GPIO_ACTIVE_HIGH>
			, <&gpio1 11  GPIO_ACTIVE_HIGH>
			;
	};

	// sensors {
    // 	compatible = "zmk,keymap-sensors";
    // 	sensors = <&left_encoder>;
	// };

	// left_encoder: encoder_left {
    //     compatible = "alps,ec11";
    //     label = "LEFT_ENCODER";
    //     a-gpios = <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    //     b-gpios = <&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    //     resolution = <2>;
    // };

	ext-power {
		compatible = "zmk,ext-power-generic";
		label = "EXT_POWER";
		control-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
	};

	vbatt {
		compatible = "zmk,battery-voltage-divider";
		label = "BATTERY";
		io-channels = <&adc 7>;
		output-ohms = <2000000>;
		full-ohms = <(2000000 + 806000)>;
	};
};

&adc {
	status = "okay";
};

&gpio0 {
	status = "disabled";
};

&gpio1 {
	status = "okay";
};

// &i2c0 {
//     compatible = "nordic,nrf-twi";
//     status = "okay";
//     sda-pin = <(32 + 9)>;
//     scl-pin = <5>;
//     // TODO: Zephyr 2.5
//     // sda-gpios = <&gpio1 9 0>;
//     // scl-gpios = <&gpio0 5 0>;

//     fuel_gauge: max17055@36 {
//         compatible = "maxim,max17055";
//         label = "max17055";
//         reg = <0x36>;

//         // TODO: Zephyr 2.6
//         // design-capacity = <1200>;
//         design-voltage = <3700>;
//         desired-voltage = <4200>;
//         desired-charging-current = <400>;
//         // i-chg-term = <30>;
//         rsense-mohms = <5>;
//         // v-empty = <3000>;
//     };
// };

&usbd {
	status = "okay";
};

&spi1 {
  compatible = "nordic,nrf-spim";
  status = "okay";
  mosi-pin = <4>;
  // Unused pins, needed for SPI definition, but not used by the ws2812 driver itself.
  sck-pin = <5>;
  miso-pin = <7>;

  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";
    label = "WS2812";

    /* SPI */
    reg = <0>; /* ignored, but necessary for SPI bindings */
    spi-max-frequency = <4000000>;

    /* WS2812 */
    chain-length = <17>; /* number of LEDs */
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
  };
};


&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		sd_partition: partition@0 {
			label = "softdevice";
			reg = <0x00000000 0x00026000>;
		};
		code_partition: partition@26000 {
			label = "code_partition";
			reg = <0x00026000 0x000c6000>;
		};

		/*
		 * The flash starting at 0x000ec000 and ending at
		 * 0x000f3fff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@ec000 {
			label = "storage";
			reg = <0x000ec000 0x00008000>;
		};

		boot_partition: partition@f4000 {
			label = "adafruit_boot";
			reg = <0x000f4000 0x0000c000>;
		};
	};
};